---
const services = [
    {
        image: "/images/service1.png",
        alt: "",
        url:"../services/implementacion-y-administracion",
        titulo: "Implementación de Sistema de Gestión de Seguridad y Salud en el Trabajo.",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service2.png",
        alt: "",
        url:"../services/tercerizacion-del-servicio",
        titulo: "Tercerización del Servicio de Seguridad y Salud en el Trabajo (SST)",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service3.png",
        alt: "",
        url:"../services/auditorias",
        titulo: "Servicio de Auditorías de la Ley de Seguridad y Salud en el Trabajo con Auditores Escritos en Ministerio de trabajo (MINTRA) en Cumplimiento del D.S. N° 014-2013-TR.",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service4.png",
        alt: "",
        url:"../availables/certificaciones-de-competencias",
        titulo: "Certificaciones de Competencias Laborales",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service5.png",
        alt: "",
        url:"../availables/capacitaciones-en-sst",
        titulo: "Capacitación en SST",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service6.png",
        alt: "",
        url:"../training/seguridad-en-conduccion",
        titulo: "Conformación del Comité de Seguridad y Salud en el Trabajo - Comité de Hostigamiento",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    },
    {
        image: "/images/service7.png",
        alt: "",
        url:"/training/seguridad-en-conduccion",
        titulo: "Plataforma de Auditoría SGSST Para Profesionales Auditores",
        description: "Inspecciones de seguridad, trabajos de alto riesgo (trabajos en altura, trabajos en caliente, espacios confinados, etc.), Lucha contra incendios y manejo de extintores, ergonomía en el trabajo, plan de contingencias, la seguridad basada en la conducta, primeros auxilios, materiales peligrosos MATPEL."
    }
]
---
<section class="container mx-auto lg:mt-10 mb-12">
    <h2 class="text-2xl md:text-3xl xl:text-4xl font-bold text-center text-info mb-6 lg:mb-12">
        Nuestros Servicios
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {services.map((service) => (
            <div class="bg-white border rounded-lg shadow-md overflow-hidden">
                <img src={service.image} alt={service.alt} class="w-full h-36 object-cover"/>
                <div class="p-4">
                    <h3 class="text-lg font-bold text-info mb-2">
                        {service.titulo}
                    </h3>
                    <p class="text-sm text-gray-600 mb-3">
                        {service.description}
                    </p>
                    <a href={service.url} class="block w-full bg-info text-white py-2 rounded-lg hover:bg-primary text-center mt-4">
                        Ver Más
                    </a>
                </div>
            </div>
        ))}
    </div>
</section>