---
const slides = [
    {
        title: 'Seguridad y Salud',
        subtitle: 'en el Trabajo',
        description: 'Expertos en la gestión de Seguridad y Salud en el Trabajo, a todo nivel.',
        buttonText: 'Ver más',
        url: '/servicios',
        imageUrl: '/images/ssoma-slide1.png'
    },
    {
        title: 'Outsourcing de Gestión',
        subtitle: 'de Seguridad y Salud en el Trabajo',
        description: 'Expertos en la gestión de Seguridad y Salud en el Trabajo, a todo nivel.',
        buttonText: 'Ver más',
        url: '/servicios',
        imageUrl: '/images/ssoma-slide2.png'
    },
    {
        title: 'Certificaciones',
        subtitle: 'de Competencias Laborales',
        description: 'Expertos en la gestión de Seguridad y Salud en el Trabajo, a todo nivel.',
        buttonText: 'Ver más',
        url: '/servicios',
        imageUrl: '/images/ssoma-slide3.png'
    },
    {
        title: 'Auditorías',
        subtitle: 'del SGSST Virtual',
        description: 'Expertos en la gestión de Seguridad y Salud en el Trabajo, a todo nivel.',
        buttonText: 'Ver más',
        url: '/servicios',
        imageUrl: '/images/ssoma-slide4.png'
    },
    {
        title: 'Capacitaciones',
        subtitle: '',
        description: 'Expertos en la gestión de Seguridad y Salud en el Trabajo, a todo nivel.',
        buttonText: 'Ver más',
        url: '/servicios',
        imageUrl: '/images/ssoma-slide5.png'
    }
];
---
<section class="relative overflow-hidden">
    <div id="textSlider" class="flex transition-transform duration-1000 ease-in-out">
        {slides.map((slide) => (
            <div class="flex-shrink-0 w-full h-[450px] sm:h-[450px] md:h-[650px] lg:h-[700px] flex items-center justify-start text-white p-8 bg-cover bg-center relative" style={`background-image: url('${slide.imageUrl}');`}>
                <div class="absolute inset-0 bg-black opacity-40"></div>
                <div class="relative z-10 text-left sm:ml-12 md:ml-28 lg:ml-48">
                    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-2">
                        {slide.title}
                        {slide.subtitle && <span class="block sm:inline">{slide.subtitle}</span>}
                    </h2>
                    <hr class="my-2 border-t-2 w-2/4" />
                    <p class="text-sm md:text-base lg:text-lg mb-4">{slide.description}</p>
                    <a href={slide.url} class="px-4 py-2 bg-info text-white font-semibold rounded hover:bg-primary">
                        {slide.buttonText}
                    </a>
                </div>
            </div>
        ))}
    </div>
    <button id="prevTextBtn" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-info bg-opacity-85 text-white hover:bg-primary hover:text-white rounded-full w-12 h-12 flex items-center justify-center">
        <i class="fas fa-arrow-left"></i>
    </button>
    <button id="nextTextBtn" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-info bg-opacity-85 text-white hover:bg-primary hover:text-white rounded-full w-12 h-12 flex items-center justify-center">
        <i class="fas fa-arrow-right"></i>
    </button>
</section>
<script>
    const textSlider = document.getElementById('textSlider');
    const textSlides = textSlider?.children ?? [];
    const totalTextSlides = textSlides.length;

    let textCurrentIndex = 0;
    const slideInterval = 5000;
    let autoSlideTimer;

    const updateTextSliderPosition = () => {
        textSlider.style.transform = `translateX(${-textCurrentIndex * 100}%)`;
        textSlider.style.transition = "transform 0.5s ease";
    };

    const goToNextTextSlide = () => {
        textCurrentIndex = (textCurrentIndex + 1) % totalTextSlides;
        updateTextSliderPosition();
        resetAutoSlide();
    };

    const goToPrevTextSlide = () => {
        textCurrentIndex = (textCurrentIndex - 1 + totalTextSlides) % totalTextSlides;
        updateTextSliderPosition();
        resetAutoSlide();
    };

    const startAutoSlide = () => {
        autoSlideTimer = setInterval(goToNextTextSlide, slideInterval);
    };

    const stopAutoSlide = () => {
        clearInterval(autoSlideTimer);
    };

    const resetAutoSlide = () => {
        stopAutoSlide();
        startAutoSlide();
    };

    document.getElementById('prevTextBtn')?.addEventListener('click', goToPrevTextSlide);
    document.getElementById('nextTextBtn')?.addEventListener('click', goToNextTextSlide);

    if (totalTextSlides > 0) {
        startAutoSlide();
    } else {
        console.warn('No hay diapositivas en el slider.');
    }
</script>
